/*GLOBAL CSS*/

*{
	box-sizing: border-box;
	list-style: none;
	padding: 0px;
	margin: 0px;
	border: none;
	/**text-decoration: none;**/
	max-width: 100%;
}



/**start styling for contact us**/


p, ul{padding-bottom:30px;}

.brands{
 	color:black;
	font-weight:200px;
	font-family: titling-gothic-fb, sans-serif;
}
	@media screen and (min-width:570px){
		.brands{display:flex;
		min-height:400px;}

	}

/**end styling for contact us**/







main{
	margin: 0px auto 0px auto;
	max-width:400px;
	padding-left: 20px;
	padding-right:20px;
}


img{
	max-width:100%;
}
/*logo image*/
header img{
	max-width:200px;
	width:15%;
   	min-width:150px;


}
header{
	display:flex;
	background-color:#E6E7E8;

}
nav a{
	text-decoration: none;
	color:#262D33;
}

nav{
	font-family: titling-gothic-fb, sans-serif;
	font-weight: 500;
	font-style: normal;
	background-color:#E6E7E8;
  padding-bottom:20px;
}
/*Menu*/
nav ul{
	display:flex;
	justify-content:space-evenly;
	padding-right: 20px;


}
nav li{
	padding-right:40px;
}

a:hover{
	color:#942A1F;
}
			@media screen and (max-width: 570px){

			nav ul{display:none;}
			header{display:block;}



				 a.menu-link {
					float: right;
					    display: block;
					    padding: 16px;
					    width: 125px;
					}


				/* Hamburger Button */

				.menu-link__hamburger {
				    margin: 0px auto 0px auto;
				    width: 40px;
				    text-align: center;
				    float: right;

				    transform: translate(0,0);
				    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
				}

				.menu-link__label {
				    float: left;
				    padding-left: 12px;
				}

				a.menu-link span {
				  display: block;
				  height: 4px;
				  margin-bottom: 7px;
				  position: relative;
				  background: #262D33;
				  border-radius: 1px; /*Rounding of Hamburger*/
				  z-index: 1;
				  transform-origin: 4px 0px;
				  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
					      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
					      opacity 0.55s ease;
				}

				/**
				a.menu-link span:first-child {
				  transform-origin: 0% 0%;
				}


				a.menu-link span:nth-child(3) {
				  transform-origin: 0% 100%;
				}

				.menu-link.active .menu-link__hamburger {
				    transform: translate(10px, 0);
				}

				.menu-link.active span {
				  opacity: 1;
				    background: black;
				  transform: rotate(45deg) translate(-2px, -1px);
				}

				.menu-link.active span:nth-child(2) {
				  opacity: 0;
				  transform: rotate(0deg) scale(0.2, 0.2);
				}

				.menu-link.active span:nth-child(3){
				  opacity: 1;
				  transform: rotate(-45deg) translate(0, -1px);
				}
				**/

				nav[role=navigation] {
					    clear: both;
					    -webkit-transition: all 0.3s ease-out;
					    -moz-transition: all 0.3s ease-out;
					    -ms-transition: all 0.3s ease-out;
					    -o-transition: all 0.3s ease-out;
					    transition: all 0.3s ease-out;
					}
				/**	.js nav[role=navigation] {
					    overflow: hidden;
					    max-height: 0;
					}
					nav[role=navigation].active {
					    max-height: 240px;
					}
					nav[role=navigation] ul {
					    margin: 0;
					    padding: 0;
					    border-top: 1px solid #808080;
					}
					nav[role=navigation] li a {
					    display: block;
					    padding: 12px;
					    border-bottom: 1px solid #808080;
					}
			}
					@media screen and (min-width:570px) {

					    a.menu-link {
					       display: none;
					    }
					    .js nav[role=navigation] {
						max-height: none;
					    }
					    nav[role=navigation] ul {
						margin: 0 0 0 -4px;
						border: 0;
					    }

					    nav[role=navigation]  li {
						display: inline-block;
						margin: 0 4px;
					    }
					    nav[role=navigation] li a {
						border: 0;
					    }**/
					}


body{
	font-family: titling-gothic-fb-narrow, sans-serif;
	font-weight: 300;
	font-style: normal;
}

h1{
	font-family: titling-gothic-fb-condensed, sans-serif;
	font-weight: 500;
	font-size: 36px;
	font-style: normal;
	margin-top: 28px;
	margin-bottom: 16px;

}
h3{color:#942A1F;}
h2, .button{
	font-family: titling-gothic-fb-condensed, sans-serif;
	font-weight: 450;
	font-style: normal;
}

p{
	font-family: titling-gothic-fb-narrow, sans-serif;
	font-weight: 300;
	font-style: normal;
}
/**footer**/
footer{
margin-top:50px;
text-align:left;
background-color:#262D33;
padding:40px;
margin-bottom:0;}

footer dt{
	color:#F6C02D;
	font-weight:regular;
	font-size:15px;
	margin-top: 13px;

}
footer dd{
	font-size:13px;
	color:#E6E7E8;
}

footer ul{
	text-decoration: none;
	color:#E6E7E8;
	display:flex;
	font-size: 24px;
}

footer a{
	color: #E6E7E8;
	text-decoration: none;
}

footer a:visited{
	color: #E6E7E8;
}

footer li{
	margin-right:20px;

}
footer img{
	max-width:200px;
	width:15%;
   	min-width:150px;
}
		/**Desktop**/
		@media screen and (min-width:570px){
			main{

			margin: 0px auto 0px auto;
			max-width:1200px;
			padding-left:40px;
			padding-right:40px;

			}
			nav ul{
				padding-top:75px;
				padding-left:20px;
			}
			footer{
				display:flex;
				justify-content:space-evenly;
			}
		}
