/*GLOBAL CSS*/

*{
	box-sizing: border-box;
	list-style: none;
	padding: 0px;
	margin: 0px;
	border: none;
	/**text-decoration: none;**/
	max-width: 100%;
}



/**start styling for contact us**/


p, ul{padding-bottom:30px;}

.brands{
 	color:black;
	font-weight:200px;
	font-family: titling-gothic-fb, sans-serif;
}
	@media screen and (min-width:570px){
		.brands{display:flex;
		min-height:400px;}

	}

/**end styling for contact us**/
