/*GLOBAL CSS*/

*{
	box-sizing: border-box;
	list-style: none;
	padding: 0px;
	margin: 0px;
	border: none;
	text-decoration: none;
	max-width: 100%;
}


@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	font-family: titling-gothic-fb-narrow, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	background-color: #eee;
	color:#262D33;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	border-bottom: solid 2px white;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #F6C02D;
		/*outline: 1px solid #F6C02D;
    outline-offset: -10px;*/
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel > p{
	padding: 20px 30px 30px 20px;
}
