/*GLOBAL CSS*/

*{
	box-sizing: border-box;
	list-style: none;
	padding: 0px;
	margin: 0px;
	border: none;
	/**text-decoration: none;**/
	max-width: 100%;
}

/**styling for Services**/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.accordion {
	font-family: titling-gothic-fb-narrow, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	background-color: #eee;
	color:#262D33;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	border-bottom: solid 2px white;
}

.panel>p{
	padding: 20px 30px 30px 20px;
}

.accordion-box{
	margin-bottom: 50px;
}

.active, .accordion:hover {
    background-color: #F6C02D;
	}

.panel {
    padding: 0px 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
}

h3{
	padding-bottom:10px;
}

main>p, main>ul{
	padding-bottom:30px;
}

.service_list{
	display:flex;
	flex-wrap:wrap;
	text-align:center;
	justify-content: space-between;
	font-weight:400;
	font-size:15px;

}

.service_list li{
	padding:8px 10px 8px 10px;
	/*background-color: #EFEFEF;*/
	min-width:50px;
	margin: 5px auto 5px auto;
}

#extra{
	display:none;
}

#rule-line{
	width: 50%;
	border: 1px solid #E6E7E8;
	margin: 50px auto 80px auto;
}


@media screen and (min-width:786px){
	#extra{
		display:inline;
	}
	.tires{
		display:flex;
	}
	.service_list{
			font-size: 16px;
	}

	.service_list li{
		padding:10px 12px 10px 12px;
	  min-width:200px;
		max-width:270px;
		margin: 2px auto 2px auto;
	}

	.tires img{
		padding-top:10px;
		max-width:250px;
	}
}

@media screen and (min-width:680px){

	p span{
		font-weight:400;
		font-size: 20px;
		line-height:32px;

	}
}
/**end services styling**/
